* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    background-color: hsl(176, 90%, 34%);
    color: hsl(176, 82%, 11%);
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

/* header {
    
} */

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: hsl(176, 84%, 15%);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: hsl(177, 51%, 80%);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: hsl(176, 87%, 21%);
    /* color: black; */
}

/* Style the content */
.content {
    background-color: hsl(176, 48%, 65%);
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}

figure {
    border-style: double;
    border-width: 20px;
    border-color: hsl(176, 80%, 8%);
    text-align: center;
    display: inline-block;
    margin:50px;
}

img {
    width: 200px;
    height: 200px;
    opacity: 0.70;
}

/* Style the footer */
.footer {
    background-color: hsl(176, 82%, 11%);
    font-family: fantasy;
    font-weight: bold;
    font-size: large;
    text-align: right;
    padding: 10px;
    /* margin-bottom: 0; */
}

.footer a {
    text-decoration: none;
    color: hsl(177, 51%, 80%);
}

.footer a:hover {
    background-color: hsl(176, 80%, 8%);
    color: hsl(177, 77%, 95%);
    padding: 0.5em;
    text-decoration: none;
}

.footer a:active {
    text-decoration: none;
}