* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

body {
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    /* margin-left: auto;
    margin-right: auto; */
}

figure {
    border-style: double;
    border-width: 20px;
    border-inline-start-color: blue;
    border-inline-end-color: brown;
    text-align: center;
    display: inline-block;
    margin:50px;
}

img {
    width: 200px;
    height: 200px;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    font-family: fantasy;
    font-weight: bold;
    font-size: large;
    text-align: right;
    padding: 10px;
}

.footer:hover {
    background-color: #ddd;
    color: black;
}